

import 'dart:convert';

import 'package:{{projectName}}/services/api_base.dart';
import 'package:{{projectName}}/services/api_endpoints.dart';

class API extends ApiBase {

  //
  // SAMPLE API CALL
  //
  // Future<void> login() async {
  //   var response = await sendAsync(ApiMethod.GET, ApiEndpoint.spotPriceByDay, null,);
  //   if (response != null){
  //     return (jsonDecode(response.body) as List).map((i)=> SpotPrice.fromJson(i)).toList();
  //   }
  //   return null;
  // }

  

}