
import 'package:flutter/material.dart';

class AppColor {

  static const Color primary = Color(0xFF24A186);
  static Color primary60 =  Color(0xFF24A186).withOpacity(0.6);

  static const Color indicatorColor = Color(0xFFB8F5D4);
  static const Color primaryDark = Color(0xFF002539);
  static const Color secondary = Color(0xFF008FBE);
  static const Color accent = Color(0xFF000000);
  static const Color divider = Color(0x2B495A14);

  static const Color text = Color(0xFF515C6F);
  static const Color secondaryText = Color(0xFF666666);
  static const Color header = Color(0xFF002539);
  static const Color secondaryHeader = Color(0xFF2B495A);
  static const Color title = Color(0xFF2B495A);

  static const Color background = Color(0xFFFFFFFF);
  static const Color secondaryBackground = Color(0xFFF5F5F5);
  static const Color scaffoldBackground = Color(0xFFFFFFFF);
  static const Color white = Color(0xFFFFFFFF);
  static const Color black = Color(0xFF000000);

  static const Color green = Color(0xFF08D26F);
  static const Color red = Color(0xFFFD2F68);

}