import 'package:flutter/material.dart';
import 'package:flutter/widgets.dart';
import 'package:{{projectName}}/locator.dart';
import 'package:{{projectName}}/services/analytics_service.dart';

import 'package:{{projectName}}/screens/splash_page.dart';
import 'package:{{projectName}}/screens/main/intro_page.dart';

const String initialRoute = "login";

class Routes {
  static const String splash = "/";
  static const String dashboard = "dashboard";
  static const String login = "login";
  static const String register = "register";

  static const String introPage = "main/intro";
}

class Router {
  static Route<dynamic> generateRoute(RouteSettings settings) {
    locator<AnalyticsService>().logScreenName(settings.name);
    switch (settings.name) {

      case Routes.splash:
        return NoTransitionRoute(
          builder: (_) => SplashPage(),
          settings: RouteSettings(name: settings.name),
        );

      case Routes.introPage:
        return NoTransitionRoute(
          builder: (_) => IntroPage(),
          settings: RouteSettings(name: settings.name),
        );

      // case Routes.login:
      //   return MaterialPageRoute(
      //     builder: (_) => LoginPage(),
      //     settings: RouteSettings(name: settings.name),
      //   );

      // case Routes.register:
      //   return MaterialPageRoute(
      //     builder: (_) => RegisterPage(),
      //     settings: RouteSettings(name: settings.name),
      //   );

      // case Routes.dashboard:
      //   return MaterialPageRoute(
      //     builder: (_) => DashboardPage(),
      //     settings: RouteSettings(name: settings.name),
      //   );

      default:
        return MaterialPageRoute(
            builder: (_) => Scaffold(
                  body: Center(
                    child: Text('No route defined for ${settings.name}'),
                  ),
                ));
    }
  }
}

/// NoTransitionRoute
/// Custom route which has no transitions
class NoTransitionRoute<T> extends MaterialPageRoute<T> {
  NoTransitionRoute({WidgetBuilder builder, RouteSettings settings})
      : super(builder: builder, settings: settings);

  @override
  Widget buildTransitions(BuildContext context, Animation<double> animation,
      Animation<double> secondaryAnimation, Widget child) {
    return child;
  }
}

/// NoPushTransitionRoute
/// Custom route which has no transition when pushed, but has a pop animation
class NoPushTransitionRoute<T> extends MaterialPageRoute<T> {
  NoPushTransitionRoute({WidgetBuilder builder, RouteSettings settings})
      : super(builder: builder, settings: settings);

  @override
  Widget buildTransitions(BuildContext context, Animation<double> animation,
      Animation<double> secondaryAnimation, Widget child) {
    // is popping
    if (animation.status == AnimationStatus.reverse) {
      return super
          .buildTransitions(context, animation, secondaryAnimation, child);
    }
    return child;
  }
}

/// NoPopTransitionRoute
/// Custom route which has no transition when popped, but has a push animation
class NoPopTransitionRoute<T> extends MaterialPageRoute<T> {
  NoPopTransitionRoute({WidgetBuilder builder, RouteSettings settings})
      : super(builder: builder, settings: settings);

  @override
  Widget buildTransitions(BuildContext context, Animation<double> animation,
      Animation<double> secondaryAnimation, Widget child) {
    // is pushing
    if (animation.status == AnimationStatus.forward) {
      return super
          .buildTransitions(context, animation, secondaryAnimation, child);
    }
    return child;
  }
}

class RouteUtils {
  static RoutePredicate withNameLike(String name) {
    return (Route<dynamic> route) {
      return !route.willHandlePopInternally &&
          route is ModalRoute &&
          route.settings.name != null &&
          route.settings.name.contains(name);
    };
  }
}
